<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>{{ "HomePage" | localize }}</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header bg-secondary">
          <h1 class="card-title"> Bienvenidos</h1>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-5">
              <img src="../../assets/img/logo.png" class="img-fluid" alt="">
            </div>
            <div class="col-7">
              <p class="text-justify">
                <strong>Quienes somos?</strong> <br>
                La Unidad Educativa Particular «Matilde Álvarez» tiene como MISIÓN:
                <br><strong>Misión:</strong><br>
                Ofertar una educación personalizada incluyente, de calidad y calidez potenciadora de todas las capacidades de niñas, niños y adolescentes.
                Formar para el desarrollo del pensamiento crítico, para la adquisición de los métodos y procedimientos científicos y tecnológicos y para su uso ético.
                Promover y privilegiar la formación y practica de valores como la libertad, autonomía, solidaridad, responsabilidad, tolerancia y amor a la patria. Para la construcción de una ciudadanía ética y democracia, dentro de la filosofía del BUEN VIVIR.
                <br><strong>Visión:</strong> <br>
                Para el periodo 2021-2025 la UNIDAD EDUCATIVA PARTICULAR «MATILDE ÁLVAREZ», será una institución de formación integral en los ámbitos científicos, tecnológicos, pluriculturalidad, equidad de género, libertad de expresión y respeto al medio ambiente, ofrecemos alternativas de desarrollo humano a todos, las y los estudiantes de manera inclusiva, atendiendo a criterios de calidad y cobertura, acordes a la realidad local, nacional y global.
              </p>
              <p class="text-justify">
                <strong><i class="fa-brands fa-whatsapp bg-success"></i> Contactos:</strong> +(593) 99 560 8745 <br>
                <a href="https://www.facebook.com/UEPMA" target="_blank"><strong><i class="fa-brands fa-facebook bg-primary"></i> Facebook</strong><br></a>
                <a href="https://www.instagram.com/u.e.p.m.a" target="_blank"><strong><i class="fa-brands fa-instagram bg-danger"></i> Instagram</strong></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
